<div class="row">
    <h3>Agregar nueva nota</h3>
    <a class="btn btn-primary btn-block" href="/notas/agregar">Nueva Nota</a>
</div>
<hr>
<div class="row">
    {{#each Notas}}
    <div class="col-md-3">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title d-flex justify-content-between aling-items-center">
                    {{titulo}}
                    <a href="/notas/editar/{{_id}}"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                            fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z" />
                        </svg></a>
                </h4>
                <p>{{descripcion}}</p>
                <form action="/notas/eliminar/{{_id}}" method="post">
                    <button type="submit" class="btn btn-danger btn-block">Eliminar</button>
                </form>
            </div>
        </div>
    </div>
    {{/each}}
</div>