<form action="/notas/agregar" method="post">
    <div class="form-group">
        <label for="titulo">Titulo de la nota</label>
        <input type="text" name="titulo" class="form-control" autofocus placeholder="Titulo de la nota">
    </div>
    <div class="form-group">
        <label for="titulo">Descripcion de la nota</label>
        <textarea name="descripcion" class="form-control" placeholder="Descripcion de la nota"></textarea>
    </div>
    <div class="form-group">
        <br>
        <button class="btn btn-primary btn-block">Guardar</button>
    </div>
</form>