<section class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias molestiae velit nihil atque numquam
            cumque alias, doloribus perspiciatis ab asperiores incidunt recusandae laudantium quos ipsum nemo neque est
            distinctio id fugiat reprehenderit obcaecati aspernatur optio necessitatibus? Doloribus aliquid doloremque
            sapiente at, odio eos consequatur tempore suscipit soluta aspernatur possimus culpa aperiam ad id aut
            facilis reiciendis, quis nam necessitatibus dolor debitis odit minus voluptatibus eveniet. Perspiciatis ex,
            molestiae accusantium cumque optio nihil sint, exercitationem numquam qui eum eligendi voluptate dolores
            quas velit veniam libero fugiat aspernatur quos neque perferendis quis. Esse quia, odit earum itaque nostrum
            aspernatur id animi aliquid.</p>
    </div>
</section>